@using InfotecsIntershipMVC.DAL.Models;
@using InfotecsIntershipMVC.Services.Filtering.Filters;
@using InfotecsIntershipMVC.Services.Filtering.Filters.SortingFilters.Filename;
@model IReadOnlyCollection<ResultEntity>;

@{
    ViewData["Title"] = "Results";
}

@{
    var result = new List<AcFilter<ResultEntity>>();
    var dict = new Dictionary<Type, AcFilter<ResultEntity>>();

    void OnChangeAddingFilter(AcFilter<ResultEntity> filter)
    {
        if (dict.ContainsKey(filter.GetType()))
        {
            dict.Remove(filter.GetType());
        }
        else
        {
            dict.Add(filter.GetType(), filter);
        }
    }

    void OnSubmitFilterForm()
    {
        result = dict.Values.ToList();
    }
}

<form method="post" enctype="multipart/form-data" asp-action="GetResults(@result)">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="checkbox" onchange="OnChangeAddingFilter(new FilenameAscFilter())"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Upload" class="btn btn-primary" onchange="OnSubmitFilterForm" />
    </div>
</form>


<div class="container">
    <div class="row">
        <div class="col">File name</div>
        <div class="col">All time</div>
        <div class="col">First operation</div>
        <div class="col">Average duration</div>
        <div class="col">Median by value</div>
        <div class="col">Max value</div>
        <div class="col">Average value</div>
        <div class="col">Min value</div>
        <div class="col">Rows</div>
    </div>

    @{
        for (int i = Model.Count() - 1; i >= 0; i--)
        {
            var currentModel = @Model.ElementAt(i);

            <div class="row">
                <div class="col">@currentModel.FileName</div>
                <div class="col">@currentModel.AllTime</div>
                <div class="col">@currentModel.FirstOperation</div>
                <div class="col">@currentModel.AverageDuration</div>
                <div class="col">@currentModel.MedianByValue</div>
                <div class="col">@currentModel.MaxValue</div>
                <div class="col">@currentModel.AverageValue</div>
                <div class="col">@currentModel.MinValue</div>
                <div class="col">@currentModel.RowCount</div>
            </div>
        }
    }
</div>
